### _Imports_

In [1]:
import pandas as pd
import numpy as np

from scipy.stats import trim_mean
from statsmodels import robust
import wquantiles

import seaborn as sns
import matplotlib.pylab as plt

In [2]:
df = pd.read_csv('../data/Superstore_250217.csv')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Quantity,Discount,Profit,Shipping Days,List Price,Net Price,COGS,Gross Margin,Product_encoded,Product PK
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,2,0.00,41.9136,3,130.98,130.98,110.02,0.16,386,FUR-BO-10001798-00386
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,3,0.00,219.5820,3,243.98,243.98,170.79,0.30,839,FUR-CH-10000454-00839
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,2,0.00,6.8714,4,7.31,7.31,3.87,0.47,1433,OFF-LA-10000240-01433
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,5,0.45,-383.0310,7,348.21,191.52,268.12,0.23,366,FUR-TA-10000577-00366
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,2,0.20,2.5164,7,13.98,11.18,9.93,0.29,573,OFF-ST-10000760-00573

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Row ID           9994 non-null   int64
 1   Order ID         9994 non-null   object
 2   Order Date       9994 non-null   object
 3   Ship Date        9994 non-null   object
 4   Ship Mode        9994 non-null   object
 5   Customer ID      9994 non-null   object
 6   Customer Name    9994 non-null   object
 7   Segment          9994 non-null   object
 8   Country          9994 non-null   object
 9   City             9994 non-null   object
 10  State            9994 non-null   object
 11  Postal Code      9994 non-null   int64
 12  Region           9994 non-null   object
 13  Product ID       9994 non-null   object
 14  Category         9994 non-null   object
 15  Sub-Category     9994 non-null   object
 16  Product Name     9994 non-null   object
 17  Sales            9994 non-null   float64
 18  Quantity         9994 non-null   int64
 19  Discount         9994 non-null   float64
 20  Profit           9994 non-null   float64
 21  Shipping Days    9994 non-null   int64
 22  List Price       9994 non-null   float64
 23  Net Price        9994 non-null   float64
 24  COGS             9994 non-null   float64
 25  Gross Margin     9994 non-null   float64
 26  Product_encoded  9994 non-null   int64
 27  Product PK       9994 non-null   object
dtypes: float64(7), int64(5), object(16)
memory usage: 2.1+ MB

In [4]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Days,List Price,Net Price,COGS,Gross Margin,Product_encoded
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896,3.958175,75.571127,60.918954,53.119865,0.341016,922.324795
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108,1.747567,188.961461,142.927479,122.251161,0.135602,531.515975
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000,0.990000,0.340000,0.540000,0.000000,0.000000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750,3.000000,6.480000,5.470000,3.470000,0.260000,474.250000
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500,4.000000,19.980000,16.270000,12.930000,0.340000,907.000000
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000,5.000000,76.980000,63.940000,54.520000,0.470000,1390.000000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000,7.000000,7546.160000,3773.080000,4074.930000,0.500000,1849.000000

In [ ]:
num_vars = list(df.describe().columns)
cat_vars = [col for col in df.columns if col not in num_vars]